@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

/* Normalization */

html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #EFEFEF;
}

ul {
  list-style-type: none;
}

/* Header */

.header {
  background-color: #303C49;
  display: grid;
  grid-template-columns: 30% auto;
}

#logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
  margin: 0;
}

/* Right nav bar */

.nav-header-links {
  justify-self: right;
}

.header-links * {
  display: inline;
}

.header-links ul li a, .header-links p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  display: inline-block;
}

.header-links ul li a:hover {
  background: #455668;
}

/* Content */

.container {
  width: calc(100% - 4em);
  padding: 2em;
  margin-top: 2em;
}

.content-title {
  margin-bottom: 1em;
}

.block-container {
  background: white;
  border-radius: 7px;
  padding: 1em;
  margin-bottom: 10px;
  display: grid;
  min-height: 150px;
  grid-template-columns: 120px auto;
}

.user-info {
  width: 100px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.user-info p {
  margin: 10px 5px;
}

/* Warnings and infos */

.alert-spam {
  display: block;
  background: yellow;
  padding: .3em;
  font-weight: bold;
  margin-bottom: 20px;
  width: auto;
}

.alert-message {
  background: yellow;
}

.info-message {
  background: blue;
}
