@layout('layouts/main')

@section('title')
  AdonisJs Blog
@endsection

@section('content')
  <h1 class="content-title">All Posts</h1>

  <div class="post-container">
    <div class="blank"></div>
    <div class="post-info">
      <h3>Post Title</h3>
      <p>Future post description can go here.</p>
    </div>
  </div>
@endsection
