@layout('layouts/main')

@section('title')
  AdonisJs Blog
@endsection

@section('content')
  <h1 class="content-title">All Posts</h1>

  @each(post in posts)
  <div class="post-container">
    <div class="blank"></div>
    <div class="post-info">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content}}</p>
    </div>
  </div>
  @endeach

@endsection
